.btn.btn-default{

    background-color: gray;
    color: white;
    width: 50px;
    height: 40px;

    }

.center{
        text-align: center
      }

.container{

  position:absolute;
  padding-top: 40px;

}