<div class="container">
  <div class="form-group">
    <div class="row">
      <br>
      <p>
      <b>STATUS: </b>
      <span *ngIf="user?.telegram" style="color:green">
        <b> Cadastrado</b>
      </span>
      <span *ngIf="!user?.telegram" style="color:red">
        <b> Sem cadastro</b>
      </span>
    </p>
      <br>
      <br>
    </div>

    <h4>Para receber as designações por telegram, execute os seguintes passos:</h4>
    <p>1. Baixe o aplicativo para o seu celular</p>
    <p>2. Configure o aplicativo com o seu numero</p>
    <p>3. Clique no botão abaixo para vincular sua conta do site com o telegram</p>
    <button (click)="onCadastro()">Cadastrar Telegram</button>
    <br>
    <br>

    <p>4. Dentro do aplicativo, clique no botão "começar"</p>
    <p>Pronto, você já pode receber suas designações.</p>
    <br>
    <h4>Para entrar no grupo de substituições, clique no botão abaixo:</h4>
    <p>Obs.: Você deve estar cadastrado no telegram</p>
    <button (click)="onGoGroup()">Grupo Substituição</button>
  </div>

</div>