<div class="backdrop" [ngStyle]="{'display': display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="horaForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_titulo">Novo horário</h5>
          <button type="button" id="modal_fechar" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label style="font-size: 11px; float: right;">* Campos obrigatórios</label>
          <br/>

          <div class="form-row">
            <div class="form-group col-md-7">
              <label>Horário *</label>
              <input type="text" class="form-control" id="hora_hora" pattern=".{11,11}" placeholder="Digite o nome da congregação" formControlName="hora">
            </div>

            <div class="form-group col-md-5">
              <label>Código *</label>
              <input type="text" class="form-control" id="hora_code" pattern=".{3,3}" placeholder="Digite o nome da congregação" formControlName="code">

            </div>
          </div>
        </div>
        <div class="modal-footer">

          <button type="submit" [disabled]="validMyForm()" class="btn btn-primary">Salvar</button>

        </div>
      </form>

    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-primary" (click)="onNewhora()" [disabled]="auth">Novo horário +</button>
    </div>

    <form>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Horário</th>
          <th scope="col">Código</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hora of horas; let j = index">
          <th scope="row">{{j + 1}}</th>
          <td>{{hora.hora}}</td>
          <td>{{hora.code}}</td>
          <td>
            <button type="button" class="btn btn-warning btn-sm" (click)="onEdit(j)" [disabled]="auth">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(j)" [disabled]="auth">
              <i class="fa fa-trash-o" aria-hidden="true"></i> Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>